:root{
    --gray: #D9D9D9;
    --orange: #E8B468;
    --darkOrange: #bd7206;
    --green: #32D242;
    --darkGreen: #098f16;
    --red: #FF1111;
    font-size: 62.5%;
}

.header-home{
    background-color: var(--kindOfBlack);
    background-image: url(../img/BG.png);
    width: 100%;
    height: 60px;
    justify-content: space-between;
    display: flex;
}

.chestionar{
    border-radius: 30px;
    width: 1400px;
    height: fit-content;
    padding: 20px;
    background-color: var(--gray);
    margin: 10px auto;
}

.informatii-chestionar{
    width: 1400px;
    display: flex;
    margin: 20px;
    justify-content: space-between;
    margin: 100px auto 0 auto;
    align-items: center;
}

.informatii-chestionar > * {
    font-weight: 600;
    font-size: 2.3rem;
}

.rezultate_raspunsuri{
    display: flex;
    width: fit-content;
    height: fit-content;
}

.rezultate_raspunsuri > * {
    font-weight: 600;
    font-size: 2.3rem;
}

.r_corecte{
    margin-right: 20px;
}

.r_corecte > span {
    color: var(--green);
}

.r_gresite > span {
    color: var(--red);
}

.timp{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.timp img{
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.timp > * {
    font-weight: 600;
    font-size: 2.3rem;
}

.intrebare{
    width: fit-content;
    height: fit-content;
    margin: 20px auto 10px auto;
    padding: 15px;
    font-size: 2.4rem;
    line-height: 1;
    text-align: center;
}

.containter-raspunsuri {
    display: flex;
    justify-content: center;
}

.containter-raspunsuri img {
    margin-right: 40px; 
    width: 50%;
    height: auto;
}

.rasp{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.raspunsuri{
    width: fit-content;
    height: fit-content;
    margin: 30px auto 20px auto;
}

.raspuns {
    background-color: var(--kindOfWhite);
    border: 2px solid var(--gray);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.raspuns:hover {
    border: 2px solid var(--darkGreen);
}

.raspuns p{
    font-size: 2.2rem;
    line-height: 1;
}

.selected {
    background-color: var(--darkGreen); 
}

.submitAnswerBtn.selected {
    background-color: var(--darkGreen); 
}

.butoane{
    width: fit-content;
    height: 70px;
    column-gap: 20px;
    margin: 30px auto 0 auto;
    display: flex;
}

.answerLaterBtn{
    border-radius: 10px;
    display: block;
    height: 70px;
    width: 300px;
    background-color: var(--orange);
    align-items: center;
}

.answerLaterBtn:hover {
    cursor: pointer;
    background-color: var(--darkOrange);
}

.answerLaterBtn div{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: auto;
    gap: 10px;
}

.answerLaterBtn img{
    height: 25px;
    width: auto;
}

.answerLaterBtn p{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    color: var(--kindOfWhite);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    align-self: center;
}

.submitAnswerBtn{
    border-radius: 10px;
    display: block;
    height: 70px;
    width: 300px;
    align-items: center;
    background-color: var(--green);
}

.submitAnswerBtn.selected:hover,
.submitAnswerBtn.hovered {
    cursor: pointer;
}

.submitAnswerBtn div{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: auto;
    gap: 5px;
}

.submitAnswerBtn img{
    height: 25px;
    width: auto;
}

.submitAnswerBtn p{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    color: var(--kindOfWhite);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    align-self: center;
}

#mesaj-eroare {
    display: none;
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
}

#mesaj-eroare p {
    color: red;
    font-family: "Roboto Serif", serif;
    font-weight: 600;
    font-size: 3rem;
}


p{
    font-size: 2rem;
    font-family: "DM Sans", sans-serif;
    line-height: 1;
}


