.BG{
    padding-bottom: 125px;
}

.intro{
    color: var(--kindOfWhite);
    height: fit-content;
    width: fit-content;
    font-size: 5rem;
    font-family: "Roboto Serif", serif;
    font-weight: 600;
    margin: 100px auto 0 auto;
}

.sectiune-capitole{
    width: 100%;
    height: fit-content;
    margin: 50px 0;
}

.capitol{
    width: 675px;
    height: 120px;
    background-color: var(--gray);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.capitol p{
    height: fit-content;
    width: fit-content;
    font-family: "Roboto Serif", serif;
    color: var(--pink);
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 400;
    margin: auto 0;
}

.capitol a{
    font-family: "DM Sans", sans-serif;
    color: var(--kindOfBlack);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 23px;
    background-color: var(--kindOfWhite);
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    margin: auto 0 auto 8px;
}

.capitol a:hover{
    cursor: pointer;
    background-color: var(--darkGray);
}

.rand{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ultimul{
    margin: 30px auto 0 auto;
}

.titlu{
    font-family: "Roboto Serif", serif;
    color: var(--pink);
    font-size: 4rem;
    font-weight: 600;
    height: fit-content;
    width: fit-content;
    margin: 50px auto;
    text-align: center;
}

.continut{
    font-family: "DM Sans", sans-serif;
    color: var(--kindOfBlack);
    font-size: 3rem;
    font-weight: 400;
    height: fit-content;
    width: 100%;
    margin: 0 auto 50px auto;
}