.BG{
    border-radius: 0;
}

.container-logare{
    width: fit-content;
    height: fit-content;
    margin: 100px auto;
}

.container-logare h3{
    margin: 0 auto 50px auto;
    width: fit-content;
    height: fit-content;
    color: var(--kindOfBlack);
    font-family: "Roboto Serif", serif;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
}

form{
    width: 1200px;
    height: fit-content;
    background-color: var(--lightBlue);
    border-radius: 20px;
    padding: 50px;
}

.container-logare h4{
    margin: 0 auto 25px auto;
    width: fit-content;
    height: fit-content;
    color: var(--kindOfBlack);
    font-family: "Roboto Serif", serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.2;
}

.formular{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 15px;
    width: fit-content;
    height: fit-content;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2; 
}

.inputText{
    width: 100%;
    height: fit-content;
    background-color: var(--kindOfWhite);
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 3rem;
    font-family: "Roboto Serif", serif;
    font-weight: 500;
    color: var(--kindOfBlack); 
}

.cb{
    width: fit-content;
    height: fit-content;
    display: flex;
}

.cb label{
    margin-bottom: 0;
}

.inputCheckbox{
    accent-color: black;
    mix-blend-mode: multiply;
    outline: black 3px auto;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    margin: auto 5px auto 0;
}

.inputCheckbox:hover{
    cursor: pointer;
}

.inputButton{
    border-radius: 20px;
    background-color: var(--kindOfWhite);
    height: fit-content;
    width: fit-content;
    align-self: center;
    margin-top: 20px;
    padding: 10px 60px;
    font-family: "DM Sans", sans-serif;
    color: var(--kindOfBlack);
    font-size: 2.5rem;
    font-weight: 400;
}

.inputButton:hover{
    cursor: pointer;
    background-color: var(--darkGray);
    font-weight: 500;
}

.sub-container{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    margin-top: 10px;
}

.sub-container a{
    height: fit-content;
    width: fit-content;
    font-family: "DM Sans", sans-serif;
    color: black;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-size: 2.5rem;
    font-weight: 400;
    margin: auto 0;
}

.sub-container div{
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 10px;
}

.sub-container p{
    height: fit-content;
    width: fit-content;
    font-family: "DM Sans", sans-serif;
    color: black;
    font-size: 2.5rem;
    font-weight: 400;
    margin: auto 0;
}

.sub-container button{
    height: fit-content;
    width: fit-content;
    border-radius: 23px;
    background-color: var(--gray);
    padding: 6px 34px;
}

.sub-container button a{
    text-decoration: none;
}

.sub-container button:hover{
    cursor: pointer;
    background-color: var(--darkGray);
    font-weight: 500;
}

.eroare{
    width: fit-content;
    height: fit-content;
    color: red;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 4rem;
    line-height: 1.2; 
    margin: 0 auto 20px auto;
}

.succes{
    width: fit-content;
    height: fit-content;
    color: green;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 4rem;
    line-height: 1.2; 
    margin: 0 auto 100px auto;
}