:root{
    --lightBlue: #0181EF;
    --kindOfBlack: #0C0C0C;
    --kindOfWhite: #FBFBFB;
    font-size: 62.5%;
}

h1{
    font-size: 2.8rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    line-height: 1.6;
}

h2{
    font-size: 2.5rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

h3{
    font-size: 2.2rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

p{
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

a{
    cursor: pointer;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

.header-home{
    background-color: #0C0C0C;
    background-image: url(../img/BG.png);
    width: 1400px;
    height: 60px;
    justify-content: space-between;
    display: flex;
}

.header-home-logo{
    width:fit-content;
    height: 100%;
    padding: 0 10px;
    align-self: center;
    column-gap: 10px;
    display: flex;
}

.header-home-logo img{
    height: 40px;
    width: auto;
    align-self: center;
}

.header-home-logo div{
    font-size: 3rem;
    font-weight: 600;
    width: fit-content;
    align-self: center;
    font-family: "Roboto Serif", serif;
    display: flex;
}

.header-home-logo-Traseu{   
    color: var(--kindOfWhite);
}

.header-home-logo-Sigur{   
    color: var(--lightBlue);
}

.header-home-nav{
    width: fit-content;
    height: 100%;
}

.header-home-nav ul li{
    display: inline;
    float: left;
}

.header-home-nav ul li a{
    padding: 0 10px;
    color: var(--kindOfWhite);
    font-size: 2rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    line-height: 60px;
    display: block;
    height: 100%;
}

.header-home-nav ul li a:hover{
    color: var(--lightBlue);
}

.header-home-buttons{
    width: fit-content;
    height: 100%;
    column-gap: 15px;
    padding: 0 10px;
    align-items: center;
    display: flex;
}

.header-home-buttons button{
    border-radius: 36px;
    background-color: var(--kindOfWhite);
    display: block;
    height: 40px;
}

.header-home-buttons button p{
    padding: 0 12px;
    color: var(--kindOfBlack);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    align-self: center;
}

.header-home-buttons button:hover p{
    cursor: pointer;
    color: var(--lightBlue);
}