.BG{
    padding-bottom: 100px;
}

.header-home-nav > ul > li:nth-child(2) > a {
    color: var(--pink);
}

.intro{
    padding-top: 50px;
    height: fit-content;
    text-align: center;
}

.intro span{
    color: var(--pink);
    font-family: "Roboto Serif", serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1;
}

.intro h3{
    color: var(--kindOfWhite);
    font-family: "Roboto Serif", serif;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1;
    margin-top: 20px;
}

/*Chestionare*/
.descChestionare{
    width: fit-content;
    height: fit-content;
    margin: 100px auto;
    display: flex;
    gap: 100px;
}

.chestionar{
    padding: 35px;
    width: 400px;
    height: 350px;
    background-color: var(--gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.chestionar span{
    text-align: center;
    display: block;
    color: var(--pink);
    font-family: "Roboto Serif", serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 30px 0 15px 0;
}

.chestionar div{
    text-align: left;
    width: fit-content;
    height: fit-content;
    color: var(--kindOfBlack);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.2;
}

.chestionar button{
    border-radius: 40px;
    background-color: var(--kindOfWhite);
    height: fit-content;
    width: fit-content;
    align-self: center;
    margin-top: auto;
    padding: 8px 15px;
}

.chestionar button p{
    font-family: "DM Sans", sans-serif;
    color: var(--kindOfBlack);
    font-size: 1.8rem;
    font-weight: 400;
}

.chestionar button:hover{
    cursor: pointer;
    background-color: var(--darkGray);
}