.BG{
    padding-bottom: 100px;
}

.header-home-nav > ul > li:first-child > a {
    color: var(--pink);
}

.sectiune-resurse{
    padding-top: 50px;
}

.sectiune-resurse h3{
    color: var(--kindOfWhite);
}
